<div class="container-fluid">
  <div class="row">
    <div class="wrapper col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 mx-auto">
      <div class="sign_up_form col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-6 col-md-6 col-md-offset-6 mx-auto">
        <h2 class = "text-center"></h2>
    </div>
    </div>
  </div>
</div>    

