<div class="jumbotron">
    <div class="row">
        <div class="container-form col-xs-12 col-sm-6 col-md-6">
            <p>検索一覧</p>
        </div>

        <div class="container-catch-copy col-xs-6 col-md-4">
            <h1>路上ライブ</h1>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a>
        </div>
    </div>
</div>

<% @posts.each do |post| %>
    <div class="row">
        <div class="container-news col-xs-12 col-sm-6 col-md-4 ">
            <p><span>ツイート内容: </span><%=link_to post.title, post_path(post.id) %></p>
        </div>
    </div>
<% end %>
       
