@import "bootstrap"; 

@import "toastr"; 

body{
    padding-top: 95px;
}
.container-fluid{
  margin:0px;
  padding:0px;
}
@media only screen and (max-width:1024px) {
/*header---------------------------------*/
    

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding:20px;
    font-weight: bold;
  }
  
#logo:hover {
    color: #fff;
    text-decoration: none;
  } 

  .navbar-nav{
    padding:20px;
  }

  
  .navbar-toggler{
    margin:20px;
  }


  .navbar-nav a{
      text-decoration: none;
      margin-left: 10px; 
      color: #fff;
      font-size: 1.3em;
      font-weight: bold;
  }
 
  .custom-file-container {
  max-width: 400px;
  margin: 0 auto;
}



/*index--------------------------------------*/
.jumbotron { 
    height: 100vh;
    min-height: 300px;
    background:url(/index-background.jpg) center no-repeat; 
    background-size: cover;
}

.container-form{
    background-color: white;
    padding:20px;
    margin: 20px;
    border-radius: 10px;
}

.container-form　h1{
    font-weight: bold;
}

.card{
    margin:40px;
}

.news_icon{
    margin-top:10px;
}
.custom-file {
  overflow: hidden;
}
.custom-file-label {
  white-space: nowrap;
}
.custom-file-container {
  max-width: 400px;
  margin: 0 auto;
}
#custom-file_btn{
  margin-top:10px;
}
/*posts:show-----------------------------------------*/
#mapid {
    height: 300px;
    width: 300px
}

/*sign_up----------------------------------------------*/
.container-fluid{
  background-color: rgb(226, 226, 226);
}

.sign_up_form{
  padding:20px;
  background-color: white;
  border-radius: 10px;
}
}


.shared{
  margin-top:10px;
}






















@media (min-width: 1024px) {

    
#logo {
    float: left;
    padding: 20px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
  }
  
#logo:hover {
    color: #fff;
    text-decoration: none;
  } 

  
  .navbar-nav{
    padding:20px;
  }

  .navbar-toggler{
    margin:20px;
  }

  .navbar-nav a{
      text-decoration: none;
      margin-left: 10px; 
      color: #fff;
      font-size: 1.3em;
      font-weight: bold;
  }
 
  

/*index--------------------------------------*/
.jumbotron { 
    height: 100vh;
    min-height: 300px;
    background:url(/index-background.jpg) center no-repeat; 
    background-size: cover;
}

.container-form{

    background-color: white;
    padding:20px;
    margin: 20px;
    border-radius: 10px;
}

.container-form　h1{
    font-weight: bold;
}

.card{
    margin:40px;
}

.custom-file {
  overflow: hidden;
}
.custom-file-label {
  white-space: nowrap;
}
.custom-file-container {
  max-width: 400px;
  margin: 0 auto;
}
#custom-file_btn{
  margin-top:10px;
}
/*posts:show-----------------------------------------*/
#mapid {
    height: 300px;
    width: 300px
}
/*sign_up----------------------------------------------*/
.container-fluid{
  background-color: rgb(226, 226, 226);
}

.sign_up_form{
  padding:20px;
  margin:20px;
  background-color: white;
  border-radius: 10px;
}
}

.shared{
  margin-top:10px;
}
