<p>こんにちは! <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスを変更したことをお知らせします。<%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>メールアドレスを変更したことをお知らせします。<%= @resource.email %>.</p>
<% end %>
