<p>こんにちは！<%= @resource.email %>!</p>

<p>パスワードを変更しました。確認をおねがいします。</p>

<p><%= link_to 'パスワードを変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
