<header class="navbar navbar-fixed-top navbar-dark bg-dark">
  <div class="container">
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="list-inline navbar-right ">
        <li class="list-inline-item"><%= link_to "新規登録",   '#' %></li>
        <li class="list-inline-item"><%= link_to "Help",   '#' %></li>
        <li class="list-inline-item"><%= link_to "ログイン", '#' %></li>
      </ul>
    </nav>
  </div>
</header>